webpage/git-bak
docker-compose.prod.yml
**/node_modules
*/.env**
**/.env.*
docker-compose.yml
mongo_data/*
.deps/*
contracts/artifacts/**
contracts/artifacts/contracts/contract-factory/**.dbg.json
.deps/*
contracts/cache
