webpage/git-bak
docker-compose.prod.yml
**/node_modules
*/.env**
**/.env.*
docker-compose.yml
mongo_data/*
.deps/*
contracts/artifacts/**
contracts/artifacts/contracts/contract-factory/**.dbg.json
.deps/*
contracts/cache
contracts/contracts/contract-factory/core/artifacts/**.json
contracts/contracts/contract-factory/artifacts/**.json
contracts/contracts/contract-factory/artifacts/
contracts/contracts/contract-factory/core/artifacts/
marketplace/backend/uploads/*
contracts/.openzeppelin/*
contracts/cache/*
