.main {
    height: 50px;
    background-color: #0D0D0D;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}