.main {
    height: 50px;
    background-color: #0D0D0D;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.flex-3 {
    flex: 3;
}

app-view-toggle {
    flex: 3;
}

app-wallet-connect {
    flex: 1;
}