<div class="top-nav">
    <div class="logo"><img src="../assets/images/ff-icon.png">FlowFrenz<span>NFT</span></div>
    <div class="top-nav-links">
        <a href="#about" class="top-nav-link about">About</a>
        <!-- <a href="#marketplace" class="top-nav-link">Marketplace<span class="top-nav-link-chip">Holders</span></a> -->
        <a href="#marketplace" class="top-nav-link marketplace">Marketplace</a>
        <a href="#roadmap" class="top-nav-link road-map">Road Map</a>
        <a href="mailto:flow@flowfrenznft.com" class="top-nav-link contact">Contact</a>
        <!-- <a (click)="openMintDialog()" class="top-nav-link">Mint<span class="top-nav-link-chip">Live</span></a> -->
        <a href="https://app.manifold.xyz/c/flowfrenznftv1" class="top-nav-link">Mint<span class="top-nav-link-chip">Live</span></a>
    </div>
    <!-- <app-web3></app-web3> -->
</div>