$body-bg: #080B2A;
$color-primary: #15BFFD;
$color-primary-hover: #b2d3df;

$border-dark: #636B6F;

$body-padding: 5vw;
$body-width: 1440px;
$body-width-minus-padding: calc(1440px - ($body-padding * 2));
