<div class="main">
    <div class="row">
        <div class="contract-detail box">
            <span class=" creator-handle">Creator: {{asset.contract.contractDeployer.substring(0, 6) + '...' +
                asset.contract.contractDeployer.substring(38)}}</span>
            <div class="detail-header">
                <p class="image-Title">{{asset.title}}</p>
                <img class="icon" src="assets/icons/share_icon.png">
            </div>
            <span class="creator-handle">Owner: {{owner.substring(0, 6) + '...' + owner.substring(38)}}</span>
            <div class="traits box">
                <app-trait *ngFor="let t of asset.rawMetadata.attributes" [trait]="t"></app-trait>
            </div>
        </div>
        <div class="media box">
            <div class="image-header">
                <img class="icon" src="assets/icons/eth.png">
                <span>{{asset.contract.name}}</span>
                <img class="icon" src="assets/icons/export_page_icon.png">
            </div>
            <img class="full" src="{{asset.media[0].gateway}}">
            <div class="price box">
                <span>Current Price</span>
                <span>{{listPrice}}</span>
                <div class="price-button">
                    <button id="buy">Buy Now</button>
                    <button id="offer">Make Offer</button>
                </div>
            </div>
            <app-contract-details [asset]="asset"></app-contract-details>
            <app-about-dropdown [asset]="asset"></app-about-dropdown>
        </div>
    </div>
    <div class="row">

    </div>
</div>