<div class="main">
    <loading-spot *ngIf="processing"></loading-spot>
    <div class="card-main">
        <span class="collection-title">{{asset.contract.name}}</span>
        <img id="asset" src="{{imageAddress}}">
        <p class="image-Title">{{asset.title}}</p>
        <img src="assets/images/lineArt.png">

        <app-action-buttons [asset]="asset" [(processing)]="processing" class="price">
        </app-action-buttons>

        <span class="creator-handle">{{asset.contract.contractDeployer.substring(0, 8) +
            (asset.contract.contractDeployer.length > 8) ? '...': ''}}</span>
    </div>
</div>