<div class="main" oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    <div class="soon">
        <span id="l10">█ </span>
        <span id="l20">█ </span>
        <span id="l30">█ </span>
        <span id="l40">█ </span>
        <span id="l50">█ </span>
        <span id="l60">█ </span>
        <span id="l70">█ </span>
        <span id="l80">█ </span>
        <span style="color:black">█ █</span> {{loadPercent}}.{{loadDecimal}}%
        <!-- <br>&gt; Site Yapım Aşamasında&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <br>&gt; marketplace loading ... <span id="imleç">█</span>
    </div>
</div>