[class*="icon-"] {
    font-family: 'fontello';
    font-style: normal;
    font-size: 2em;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    span.buttonText {
        color: white;
        align-self: center;
        padding-right: 10px;
    }

    div#wallet-id {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: end;

        small {
            color: red;
            cursor: pointer;
        }
    }
}

.icon-home:after {
    content: "\260D";
}

div.outer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    position: relative;
}

.disengaged {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

div.inner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f7f7f7;
    border: solid 1px black;
    box-shadow: 4px 8px 128px #775e5e;
    display: flex;
    justify-content: center;

    span {
        padding-bottom: 5px;
    }

    span:is(.connected, .loading) {
        color: #4a70b6;
        box-shadow: none;
    }
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: dimgray;
}