<div class="main" oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    <div id="soon">█ █ █ █ █ █ █ <span style="color:black">█ █ █</span>  68%
      <!-- <br>&gt; Site Yapım Aşamasında&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
      <br>&gt; marketplace coming soon  <span id="imleç">█</span>
    </div>
</div>
<!-- <a href="" [ariaDisabled]="true" >Marketplace
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="18" viewBox="0 0 30 18" fill="none">
      <path d="M1 9L29 9" stroke="#15BFFD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M21 17L29 9" stroke="#15BFFD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M21 1L29 9" stroke="#15BFFD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </a> -->
